html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url(techlung.jpg) repeat center
    center;
        background-size: cover;
        height: 800px;
        position: sticky;
        top: 230px;

}
.header h1 {
    font-family: 'Share Tech Mono', monospace;
    text-align: left;
    line-height: 1.5;
    color: #5e93d3;
    font-size: 60px;
    font-weight: 100; 
    background-color: #080808;
    height: 275px;
    width: 50%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    margin: 40px 10px;
}

.header h2 {
    font-family: 'Share Tech Mono', monospace;
        display: flex;
        justify-content: left;
        color: #5e93d3;
        font-size: 45px;
        font-weight: 100; 
        margin-top: 10px;
        margin-bottom: 300px;    
}

.header h3 {
    font-family: 'Share Tech Mono', monospace;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #5e93d3;
        font-size: 40px;
        font-weight: 100; 
        margin-top: 30px;
        margin-bottom: 20px;
        text-decoration: underline;
} 

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    font-family: 'Share Tech Mono', monospace;
        line-height: 2.0;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        align-items: center;
        color: #5e93d3;
        font-size: 26px;
        font-weight: 100; 
        background-color: rgb(2, 2, 53);
        padding: auto;
        opacity: .9;
        margin-top: 30px;
        margin-bottom: 100px;
        
}

.header h4 {
    font-family: 'Share Tech Mono', monospace;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #5e93d3;
        font-size: 40px;
        font-weight: 100; 
        margin-top: 30px;
        margin-bottom: 20px;
        text-decoration: underline;
}

.projects {
    font-family: 'Share Tech Mono', monospace;
        line-height: 2.0;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        align-items: center;
        color: #5e93d3;
        font-size: 26px;
        font-weight: 100; 
        background-color: rgb(2, 2, 53);
        padding: auto;
        opacity: .9;
        margin-top: 30px;
        margin-bottom: 100px;
        margin-left: 500px;
}

.header h5 {
    font-family: 'Share Tech Mono', monospace;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #5e93d3;
        font-size: 40px;
        font-weight: 100; 
        margin-top: 30px;
        margin-bottom: 20px;
        text-decoration: underline;
}

.contact {
    font-family: 'Share Tech Mono', monospace;
        line-height: 2.0;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        align-items: center;
        color: #5e93d3;
        font-size: 26px;
        font-weight: 100; 
        background-color: rgb(2, 2, 53);
        padding: auto;
        opacity: .9;
        margin-top: 30px;
        margin-bottom: 100px;
        margin-left: 225px;
}

.buttons {
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    border: 10px solid black;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.buttons a {
 
    background: black;
    border: 200px 10px solid black;
    border-radius: 3px;
    color: blue;
    display: inline-block;
    text-decoration: none;
}

.buttons a:hover {
    background: blue;
    border: 5px solid black;
    color: black;
}
/* .header h3 {
    font-family: 'Roboto',
    sans-serif;
    color: black;
    background-color:black;
    color: black;
    border: 2px solid black;
    padding: 15px 45px;
    text-align: center;
    text-decoration-color:#080808;
    display:inline-flex;
    }
    a:hover, a:active {
    background-color: red ;
    color: black;
    } */

